VITE_API_URL=https://dogsapi.origamid.dev/json
VITE_DOGS_API_URL=http://localhost:3333
VITE_SUPABASE_URL=https://xvmhejphdmvanbqpdrxf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_q6PNBvXVAhaDQfU-jztAbA_lfG_lFkU
VITE_DEMO_MODE=false
